<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login and Registration</title>
</head>
<body>
  <div class='registration'>
    <h3>Registration</h3>
    <form action='/registration' method='post'>
    <label>
      Name: <input type='text' name='name'>
    </label>
    <br>

    <label>
      Email: <input type='email' name='email'>
    </label>
    <br>

    <label>
      Password: <input type='password' name='password'>
    </label>
    <br>

    <input type="submit" name='Register!'>
    
    </form>
  </div>
  
</body>
</html>